.InputType {
  margin: 7px 0;
  height: 40px;
  width: 280px;
  border-radius: 100px;
  color: $primary-font-color-dark;
  font-size: $font-size-16;
  border: none;
  outline: none;
  background-color: $secondary-color-dark;
  text-align: center;
}