.InputTypeContainer {
  width: calc(100% - 56px);
  max-width: 500px;

  .InputTypeLabel {
    color: $primary-font-color-dark;
    font-size: $font-size-14;
    font-weight: $secondary-font-weight;
    line-height: 20px;
    letter-spacing: .25px;

    &.Light {
      color: $primary-font-color-light;
    }
  }

  .InputTypeWrapper {
    position: relative;
    display: flex;
    margin: 10px 0;
    height: 48px;
    width: 100%;
    border-radius: 12px;
    background-color: $secondary-color-dark;

    &.Light {
      background-color: $secondary-color-light;
    }

    .InputTypeIcon {
      position: absolute;
      left: 13px;
      top: 50%;
      transform: translateY(-50%);

      & + .InputType {
        margin-left: 50px;
      }
    }

    .InputTypePassIcon {
      position: absolute;
      right: 13px;
      top: 50%;
      transform: translateY(-50%);
    }

    .InputType {
      margin-left: 10px;
      width: 100%;
      color: $primary-font-color-dark;
      letter-spacing: .5px;
      font-size: $font-size-16;
      font-weight: $secondary-font-weight;
      border: none;
      outline: none;
      background: none;
      border-radius: 12px;

      &.Light {
        color: $primary-font-color-light;
      }

      &::placeholder {
        letter-spacing: .5px;
        color: $secondary-font-color-dark;
      }
    }
  }
}