.Navigation {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 60px;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: $secondary-color-dark;
  z-index: 100;

  &.Active {
    display: flex;
  }

  &.Light {
    background-color: $secondary-color-light;
  }
}