.SettingsWindow {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $primary-font-color-dark;

  &.Light {
    color: $primary-font-color-light;
  }

  .Message {
    margin-bottom: 20px;
    text-align: center;
  }
}