@import "scss/Variables";
@import "scss/Theme";

@import "scss/SplashScreen";
@import "scss/Main";
@import "scss/SearchBar";

.App {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $primary-font-weight;
}