$font-family: Roboto;
$font-size: 14px;
$primary-font-weight: 500;
$secondary-font-weight: 400;

$primary-font-color-dark: #FFFFFF;
$secondary-font-color-dark: #5B6975;

$font-color-alive: #43D049;
$font-color-dead: #EB5757;
$status-font-color: #6E798C;

$primary-line-height: 24px;
$secondary-line-height: 16px;


$primary-color-dark: #0B1E2D;
$secondary-color-dark: #152A3A;