.Auth {
  height: 100vh;
  background-color: $primary-color-dark;

  .AuthContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .AuthImage {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 100%;
        height: auto;
        width: auto;
      }

      img:first-child {
        margin-bottom: calc(5% - 40px);
      }

      img:nth-child(2) {
        margin-bottom: calc(2% - 60px);
      }
    }

    .AuthForm {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .AuthNoAccountContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 17px 0 15px;
      width: 100%;
      color: $secondary-font-color-dark;
      font-size: $font-size-14;
      font-weight: $secondary-font-weight;
      line-height: 20px;
      letter-spacing: .25px;

      .AuthNoAccount {
        margin-left: 10px;
        text-decoration: none;
        font-size: $font-size-14;
        font-weight: $secondary-font-weight;
        line-height: 20px;
        letter-spacing: .25px;
        color: #43D049;
      }
    }
  }
}