.Register {
  height: 100vh;
  background-color: $primary-color-dark;

  &.Light {
    background-color: $primary-color-light;
  }

  .RegisterContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .RegisterBack {
      width: calc(100% - 56px);
      max-width: 500px;
    }

    .RegisterHeader {
      width: calc(100% - 56px);
      max-width: 500px;
      color: $primary-font-color-dark;

      &.Light {
        color: $primary-font-color-light;
      }
    }

    .RegisterForm {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .RegisterFormBreaker {
        margin: 36px 0;
        width: calc(100% - 56px);
        max-width: 500px;
        border: 2px solid rgba(21, 42, 58, 0.5);

        &.Light {
          border: 2px solid #F2F2F2;
        }
      }
    }
  }
}